*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #7aa2dd;
}

.login-container{
    min-height: 100vh;
}

.login-box{
    background: #fff;
    border-radius: 28px;
    overflow: hidden;
    box-shadow:0 5px 25px rgba(15, 13, 13,0.2);
}

.login-image{
    width: 70%;
    object-fit: cover;
}

.form-section{
    padding: 60px;
}

.login-btn{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.msgBoxclass{
    backgroumd-color:rgb(16, 41, 41);
    padding: 20px;
    marging-top :30px;
    margin-bottom: 30px;
    border-radius:20px;
}

.msgBoxclass span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight:lighter;
}