*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #7aa2dd;
}

.login-container{
    min-height: 100vh;
}

.login-box{
    background: #fff;
    borde: 28px;
    overflow: hidden;
    box-shadow:0 5px 25px rgba(15, 13, 13,0.2);
}

.login-image{
    width: 70%;
    object-fit: cover;
}